.row.mosaic
  - @photos.each_slice(6) do |slice|
    - slice.each do |photo|
      .place.col-md-2
        %a.thumbnail{:href => "#{place_path(photo.place_id)}"}
          %img{:src => photo.thumbnail_url}
          %span.desc= photo.description
