.search-form
  %form{action: 'geolocations/search', method: 'post'}
    .col-md-10
      %input.box{type: 'text', name: 'search'}
    .col-md-2
      %button.btn.btn-primary{type: 'submit'} Get coordinates
