.row.faq
  %h1.primary Rarely Asked Questions

  .transparent
    %h3 How does it work
    .reply
      We use both Instagram and Foursquare APIs to look for fast food joints near your location. Then we create galleries of Instagram photos so you can see how the food looks like and if it's popular among other Instagramers.

  .transparent
    %h3 Why did you make it
    .reply
      We needed an interesting idea for
      %a{:href => "http://r13.railsrumble.com/"} Rails Rumble 2013
      and we all love fast foods. Thus, the idea of F★★K YEAH FAST FOOD was born.

  .transparent
    %h3 My photo is on your website and I don't want it here
    .reply
      Please e-mail us at
      %a{:href => "mailto:f--kyeahfastfood@higher.lv"} f--kyeahfastfood@higher.lv
      and we'll remove your photo and blacklist you from our system.

  .transparent
    %h3 Your website sucks, I want un<span class="f-word">f★★k</span>ed version
    .reply
      Be our guest and type
      %a{:href => "http://en.wikipedia.org/wiki/Konami_Code"} Konami Code

  .transparent
    %h3 Are you drunk?
    .reply
      All the time. That's why we're called Onion Vodka.
