.row.about
  .col-sm-12
    %h1.primary Our team
  .col-sm-4
    %a.thumbnail{:href => 'https://github.com/katafrakt'}
      %img{:src => 'http://distilleryimage1.ak.instagram.com/09c281fa399411e393f522000aeb4102_8.jpg'}
      .caption
        Paweł Świątkowski
  .col-sm-4
    %a.thumbnail{:href => 'https://github.com/blid'}
      %img{:src => 'http://distilleryimage6.ak.instagram.com/58287eee399411e3a8b922000a1f8ac2_8.jpg'}
      .caption
        Krzysztof Kucharski
  .col-sm-4
    %a.thumbnail{:href => 'https://github.com/d4rky-pl'}
      %img{:src => 'http://distilleryimage8.ak.instagram.com/bb1413c4399411e39a0d22000a9f1320_8.jpg'}
      .caption
        Michał Matyas