// sticky footer
html, body {
  height: 100%;
  background: black;
}
body {
  #container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px;

    #push {
      height: 100px;
    }
  }
  > footer {
    height: 100px;
  }
}


// header

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  #bg {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: url('http://distilleryimage11.s3.amazonaws.com/036b26e838b511e38d7822000a1fa48d_8.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    #overlay {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      z-index: 2;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAE0lEQVQIW2NkYGDwAWIGRhABAgAEVQBPVHTDwQAAAABJRU5ErkJggg==);
    }
  }
  #container {
    z-index: 3;
    position: relative;

    > header {
      @include gradient-vertical(rgba(0,0,0,0.8), rgba(0,0,0,0), 50px);
      height: 600px;
      + div.container {
        margin-top: -420px;
      }

      h1, h2 {
        position: absolute;
        text-align: center;
        margin: 0;
        padding: 0;
        text-shadow: 0 2px 2px #000;
        width: 100%;
        left: 0;
      }
      h1 {
        color: #aaa;
        top: 80px;
        font-size: 28px;
        letter-spacing: 4px;
        b {
          color: #fff;
        }
      }
      h2 {
        top: 120px;
        font-size: 18px;
      }
    }
  }
  > footer {
    z-index: 3;
    position: relative;
    background: rgba(0,0,0,0.5);
    > .container {
      padding-top: 20px;

      .navigation {
        list-style-type: none;
        height: 65px;
        line-height: 65px;

        li {
          display: inline-block;
          margin-left: 20px;
          &:before {
            display: inline-block;
            content: "•";
            margin-right: 20px;
            color: white;
          }
          &:first-child {
            margin-left: 0;
            &:before {
              display: none;
            }
          }

          a {
            color: #aaa;
            &:hover {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}